  /******************************
     Heading
  ******************************/
  #heading-india-localized-1 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-india-localized-1 .top_bdr{ background:url(../images/localized_landing/india_l_header_top_back_1.png) left top no-repeat; width:964px; height:113px;}
  #heading-india-localized-1 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-india-localized-1 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #6e191e; margin:0px; padding:0px;}
  #heading-india-localized-1 .top_bdr h2 { color:#F7DBA6; font-size:18px; font-weight:normal; font-style:italic; margin:0px; padding:0 0 0 5px;}
  #heading-india-localized-1 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-india-localized-1 .middle_bdr .jem_btn_out { position:relative;}
  #heading-india-localized-1 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:0px; text-decoration:none; background:url(../images/localized_landing/india_jem_btn_back_1.png) left top no-repeat; width:159px; height:36px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#fff;}
  #heading-india-localized-1 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#584400;}
  #heading-india-localized-1 .middle_bdr .middle_txt { padding:15px 0 5px 0; display:block;}
  #heading-india-localized-1 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-india-localized-1 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-india-localized-1 .middle_bdr .middle_txt ul li { float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-india-localized-1 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px;}
  #heading-india-localized-1 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-india-localized-1 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}
  
  /******************************
     Heading
  ******************************/
  #heading-india-localized-2 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-india-localized-2 .top_bdr{ background:url(../images/localized_landing/india_l_header_top_back_2.png) left top no-repeat; width:964px; height:113px;}
  #heading-india-localized-2 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-india-localized-2 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #6e191e; margin:0px; padding:0px;}
  #heading-india-localized-2 .top_bdr h2 { color:#F7DBA6; font-size:18px; font-weight:normal; font-style:italic; margin:0px; padding:0 0 0 5px;}
  #heading-india-localized-2 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-india-localized-2 .middle_bdr .jem_btn_out { position:relative;}
  #heading-india-localized-2 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:0px; text-decoration:none; background:url(../images/localized_landing/india_jem_btn_back_2.png) left top no-repeat; width:159px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#fff;}
  #heading-india-localized-2 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#F7DBA6;}
  #heading-india-localized-2 .middle_bdr .middle_txt { padding:15px 0 5px 0; display:block;}
  #heading-india-localized-2 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-india-localized-2 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-india-localized-2 .middle_bdr .middle_txt ul li { float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-india-localized-2 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px;}
  #heading-india-localized-2 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-india-localized-2 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}
  
  /******************************
     Heading
  ******************************/
  #heading-localized-brazil_1 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-brazil_1 .top_bdr{ background:url(../images/localized_landing/brazil_l_header_top_back_1.png) left top no-repeat; width:964px; height:115px;}
  #heading-localized-brazil_1 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-brazil_1 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #4b3c58; margin:0px; padding:0px;}
  #heading-localized-brazil_1 .top_bdr h2 { color:#f7dba6; font-size:15.3px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-brazil_1 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-brazil_1 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-brazil_1 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:-2px; text-decoration:none; background:url(../images/localized_landing/brazil_jem_btn_back_1.png) left top no-repeat; width:159px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#403f3f;}
  #heading-localized-brazil_1 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#333;}
  #heading-localized-brazil_1 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-brazil_1 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-brazil_1 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-brazil_1 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-brazil_1 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-brazil_1 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-brazil_1 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}
  
  /******************************
     Heading
  ******************************/
  #heading-localized-brazil_2 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-brazil_2 .top_bdr{ background:url(../images/localized_landing/brazil_l_header_top_back_2.png) left top no-repeat; width:964px; height:115px;}
  #heading-localized-brazil_2 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-brazil_2 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #4b3c58; margin:0px; padding:0px;}
  #heading-localized-brazil_2 .top_bdr h2 { color:#f7dba6; font-size:15.3px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-brazil_2 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-brazil_2 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-brazil_2 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:-2px; text-decoration:none; background:url(../images/localized_landing/brazil_jem_btn_back_2.png) left top no-repeat; width:159px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#403f3f;}
  #heading-localized-brazil_2 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#333;}
  #heading-localized-brazil_2 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-brazil_2 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-brazil_2 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-brazil_2 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-brazil_2 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-brazil_2 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-brazil_2 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}
  
  /******************************
     Heading
  ******************************/
  #heading-localized-brazil_3 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-brazil_3 .top_bdr{ background:url(../images/localized_landing/brazil_l_header_top_back_3.png) left top no-repeat; width:964px; height:115px;}
  #heading-localized-brazil_3 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-brazil_3 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #0072bc; margin:0px; padding:0px;}
  #heading-localized-brazil_3 .top_bdr h2 { color:#a4c5ed; font-size:15.3px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-brazil_3 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-brazil_3 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-brazil_3 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:-2px; text-decoration:none; background:url(../images/localized_landing/brazil_jem_btn_back_3.png) left top no-repeat; width:159px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#daf5b0;}
  #heading-localized-brazil_3 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#fff;}
  #heading-localized-brazil_3 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-brazil_3 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-brazil_3 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-brazil_3 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-brazil_3 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-brazil_3 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-brazil_3 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}
  
  /******************************
     Heading
  ******************************/
  #heading-localized-usa-1 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-usa-1 .top_bdr{ background:url(../images/localized_landing/usa_l_header_top_back_1.png) left top no-repeat; width:964px; height:113px;}
  #heading-localized-usa-1 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-usa-1 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #0054a6; margin:0px; padding:0px;}
  #heading-localized-usa-1 .top_bdr h2 { color:#f7dba6; font-size:18.47px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-usa-1 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-usa-1 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-usa-1 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:0px; text-decoration:none; background:url(../images/localized_landing/usa_jem_btn_back_1.png) left top no-repeat; width:159px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#000;}
  #heading-localized-usa-1 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#000;}
  #heading-localized-usa-1 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-usa-1 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-usa-1 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-usa-1 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-usa-1 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-usa-1 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-usa-1 .middle_bdr .middle_txt ul li.last-single-line { float:left; padding:0px 30px; background:none; line-height:30px;}
  #heading-localized-usa-1 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}
  
  /******************************
     Heading
  ******************************/
  #heading-localized-usa-2 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-usa-2 .top_bdr{ background:url(../images/localized_landing/usa_l_header_top_back_2.png) left top no-repeat; width:964px; height:113px;}
  #heading-localized-usa-2 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-usa-2 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #0054a6; margin:0px; padding:0px;}
  #heading-localized-usa-2 .top_bdr h2 { color:#f7dba6; font-size:18.47px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-usa-2 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-usa-2 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-usa-2 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:0px; text-decoration:none; background:url(../images/localized_landing/usa_jem_btn_back_2.png) left top no-repeat; width:159px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#fff;}
  #heading-localized-usa-2 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#fff;}
  #heading-localized-usa-2 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-usa-2 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-usa-2 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-usa-2 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-usa-2 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-usa-2 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-usa-2 .middle_bdr .middle_txt ul li.last-single-line { float:left; padding:0px 30px; background:none; line-height:30px;}
  #heading-localized-usa-2 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}
  
  /******************************
     Heading
  ******************************/
  #heading-localized-portgual-1 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-portgual-1 .top_bdr{ background:url(../images/localized_landing/portugal_l_header_top_back_1.png) left top no-repeat; width:964px; height:113px;}
  #heading-localized-portgual-1 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-portgual-1 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #4b3c58; margin:0px; padding:0px;}
  #heading-localized-portgual-1 .top_bdr h2 { color:#f7dba6; font-size:15.3px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-portgual-1 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-portgual-1 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-portgual-1 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:0px; text-decoration:none; background:url(../images/localized_landing/portugal_jem_btn_back_1.png) left top no-repeat; width:159px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#fff;}
  #heading-localized-portgual-1 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#fff;}
  #heading-localized-portgual-1 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-portgual-1 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-portgual-1 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-portgual-1 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-portgual-1 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-portgual-1 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-portgual-1 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}

  /******************************
     Heading
  ******************************/
  #heading-localized-portgual-2 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-portgual-2 .top_bdr{ background:url(../images/localized_landing/portugal_l_header_top_back_2.png) left top no-repeat; width:964px; height:113px;}
  #heading-localized-portgual-2 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-portgual-2 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #4b3c58; margin:0px; padding:0px;}
  #heading-localized-portgual-2 .top_bdr h2 { color:#f7dba6; font-size:15.3px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-portgual-2 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-portgual-2 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-portgual-2 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:0px; text-decoration:none; background:url(../images/localized_landing/portugal_jem_btn_back_2.png) left top no-repeat; width:159px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#403f3f;}
  #heading-localized-portgual-2 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#000;}
  #heading-localized-portgual-2 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-portgual-2 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-portgual-2 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-portgual-2 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-portgual-2 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-portgual-2 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-portgual-2 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}

  /******************************
     Heading
  ******************************/
  #heading-localized-portgual-3 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-portgual-3 .top_bdr{ background:url(../images/localized_landing/portugal_l_header_top_back_3.png) left top no-repeat; width:964px; height:113px;}
  #heading-localized-portgual-3 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-portgual-3 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #0072bc; margin:0px; padding:0px;}
  #heading-localized-portgual-3 .top_bdr h2 { color:#a4c5ed; font-size:15.3px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-portgual-3 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-portgual-3 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-portgual-3 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:0px; text-decoration:none; background:url(../images/localized_landing/portugal_jem_btn_back_3.png) left top no-repeat; width:159px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#daf5b0;}
  #heading-localized-portgual-3 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#fff;}
  #heading-localized-portgual-3 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-portgual-3 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-portgual-3 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-portgual-3 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-portgual-3 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-portgual-3 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-portgual-3 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}
  
  /******************************
     Heading
  ******************************/
  #heading-localized-singapore-1 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-singapore-1 .top_bdr{ background:url(../images/localized_landing/singapore_l_header_top_back_1.png) left top no-repeat; width:964px; height:113px;}
  #heading-localized-singapore-1 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-singapore-1 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #0054a6; margin:0px; padding:0px;}
  #heading-localized-singapore-1 .top_bdr h2 { color:#f7dba6; font-size:18.47px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-singapore-1 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-singapore-1 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-singapore-1 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:0px; text-decoration:none; background:url(../images/localized_landing/singapore_jem_btn_back_1.png) left top no-repeat; width:159px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#fff;}
  #heading-localized-singapore-1 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#fff;}
  #heading-localized-singapore-1 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-singapore-1 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-singapore-1 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-singapore-1 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-singapore-1 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-singapore-1 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-singapore-1 .middle_bdr .middle_txt ul li.last-single-line { float:left; padding:0px 30px; background:none; line-height:30px;}
  #heading-localized-singapore-1 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}

  /******************************
     Heading
  ******************************/
  #heading-localized-singapore-2 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-singapore-2 .top_bdr{ background:url(../images/localized_landing/singapore_l_header_top_back_2.png) left top no-repeat; width:964px; height:113px;}
  #heading-localized-singapore-2 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-singapore-2 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #0054a6; margin:0px; padding:0px;}
  #heading-localized-singapore-2 .top_bdr h2 { color:#f7dba6; font-size:18.47px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-singapore-2 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-singapore-2 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-singapore-2 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:0px; text-decoration:none; background:url(../images/localized_landing/singapore_jem_btn_back_2.png) left top no-repeat; width:159px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#fff;}
  #heading-localized-singapore-2 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#fff;}
  #heading-localized-singapore-2 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-singapore-2 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-singapore-2 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-singapore-2 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-singapore-2 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-singapore-2 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-singapore-2 .middle_bdr .middle_txt ul li.last-single-line { float:left; padding:0px 30px; background:none; line-height:30px;}
  #heading-localized-singapore-2 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}
  
  /******************************
     Heading
  ******************************/
  #heading-localized-italy-1 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-italy-1 .top_bdr{ background:url(../images/localized_landing/italy_l_header_top_back_1.png) left top no-repeat; width:964px; height:113px;}
  #heading-localized-italy-1 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-italy-1 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #4b3c58; margin:0px; padding:0px;}
  #heading-localized-italy-1 .top_bdr h2 { color:#f7dba6; font-size:18.47px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-italy-1 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-italy-1 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-italy-1 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:0px; text-decoration:none; background:url(../images/localized_landing/italy_jem_btn_back_1.png) left top no-repeat; width:208px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#fff;}
  #heading-localized-italy-1 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#fff;}
  #heading-localized-italy-1 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-italy-1 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-italy-1 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-italy-1 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-italy-1 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-italy-1 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-italy-1 .middle_bdr .middle_txt ul li.last-single-line { float:left; padding:0px 30px; background:none; line-height:30px;}
  #heading-localized-italy-1 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}

  /******************************
     Heading
  ******************************/
  #heading-localized-italy-2 { clear:left; position:relative; height:158px; margin:0 0 34px 0; }
  #heading-localized-italy-2 .top_bdr{ background:url(../images/localized_landing/italy_l_header_top_back_2.png) left top no-repeat; width:964px; height:113px;}
  #heading-localized-italy-2 .top_bdr .bucket { padding:30px 0px 0 293px;}
  #heading-localized-italy-2 .top_bdr h1 { color:#fff9ed; font-size:33px; font-weight:bold; text-shadow:2px 2px 2px #f26c4f; margin:0px; padding:0px;}
  #heading-localized-italy-2 .top_bdr h2 { color:#f7dba6; font-size:18.47px; font-weight:normal; font-style:italic; margin:0px; padding:5px 0 0 5px;}
  #heading-localized-italy-2 .middle_bdr{background:url(../images/localized_landing/l_header_middle_back.png) left top repeat-y; width:964px;}
  #heading-localized-italy-2 .middle_bdr .jem_btn_out { position:relative;}
  #heading-localized-italy-2 .middle_bdr .jem_btn_out a.jem_btn { position: absolute; right:26px; top:0px; text-decoration:none; background:url(../images/localized_landing/italy_jem_btn_back_2.png) left top no-repeat; width:208px; height:34px; text-align:center; font-size:13px; font-weight:bold; line-height:34px; color:#534741;}
  #heading-localized-italy-2 .middle_bdr .jem_btn_out a:hover.jem_btn { color:#1b1715;}
  #heading-localized-italy-2 .middle_bdr .middle_txt { padding:3px 0 0 0; display:block;}
  #heading-localized-italy-2 .middle_bdr .middle_txt a{ color:#6b6b6b;}
  #heading-localized-italy-2 .middle_bdr .middle_txt ul { margin:0px; padding:0px; list-style:none; color:#6b6b6b; font-size:13px; font-weight:bold; overflow:hidden;}
  #heading-localized-italy-2 .middle_bdr .middle_txt ul li { display:inline; vertical-align:middle; float:left; padding:0px 30px; background:url(../images/localized_landing/hfound_sep.png) right center no-repeat;}
  #heading-localized-italy-2 .middle_bdr .middle_txt ul li.first { float:left; padding-left:18px; line-height:30px;}
  #heading-localized-italy-2 .middle_bdr .middle_txt ul li.last { float:left; padding:0px 30px; background:none;}
  #heading-localized-italy-2 .middle_bdr .middle_txt ul li.last-single-line { float:left; padding:0px 30px; background:none; line-height:30px;}
  #heading-localized-italy-2 .btm_bdr{background:url(../images/localized_landing/l_header_bottom_back.png) left top no-repeat; width:964px; height:8px;}